{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="slide ">This is Category page</h1>

    {% if categorys %}
        <table class="slide tabel table-striped table-bordered mb-4">
        <thead class="table-dark">
            <tr>
                <th class="py-1 px-3">View</th>
                <th class="py-1 px-3">Name</th>
                <th class="py-1 px-3">Description</th>
                <th class="py-1 px-3">Edit</th>
                <th class="py-1 px-3">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for object in categorys %}
                <tr>
                    <td class="py-1 px-3">
                        <a class="btn btn-info" href="{% url 'ProductsApp:categoryViewID' object.id %}">
                            View
                        </a>
                        </td>
                    <td class="py-1 px-3">
                        {{ object.name }}
                        
                    </td>
                    <td class="py-1 px-3">
                        {{ object.description }}
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:updateCategory' object.id %}" class="btn btn-primary a-btn-slide-text">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:deleteCategory' object.id %}" class="btn btn-danger a-btn-slide-text">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}

    {% endif %}
    <div class="slide jumbotron my-3 mx-2">
        <h1 class="slide text-center mb-4">Create Category</h1>
        <a href="{% url 'ProductsApp:createCategory' %}" class="mb-3 w-100 btn btn-success a-btn-slide-text">
            <i class="bi bi-plus"></i>
            <span><strong>Add</strong></span>
        </a>
    </div>
    <form method="GET" class="slide">
        <h1>Filter</h1>
        {{ myFilter.form | crispy  }}
        <button class="btn btn-primary">
            Search
        </button>
    </form>
{% endblock %}
