{% extends "products/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="slide ">This is customer page</h1>

    {% if customers %}
        <table class="slide tabel table-striped table-bordered mb-4">
        <thead class="table-dark">
            <tr>
                <th class="py-1 px-3">Name</th>
                <th class="py-1 px-3">Phone</th>
                <th class="py-1 px-3">Email</th>
                <th class="py-1 px-3">Edit</th>
                <th class="py-1 px-3">Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for object in customers %}
                <tr>
                    <td class="py-1 px-3">
                        {{ object.user.username }}
                    </td>
                    <td class="py-1 px-3">
                        {{ object.phone }}
                    </td>
                    <td class="py-1 px-3">
                        {{ object.user.email }}
                        
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:updateCustomer' object.id %}" class="btn btn-primary a-btn-slide-text">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:deleteCustomer' object.id %}" class="btn btn-danger a-btn-slide-text">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h1 class="slide alert alert-danger">Not found Customer</h1>
    {% endif %}
    <div class="slide jumbotron my-3 mx-2">
        <h1 class="text-center mb-4">Create Customer</h1>
        <a href="{% url 'ProductsApp:createCustomer' %}" class="mb-3 w-100 btn btn-success a-btn-slide-text">
            <i class="bi bi-plus"></i>
            <span><strong>Add</strong></span>
        </a>
    </div>
    <form method="GET" class="slide">
        <h1>Filter</h1>
        {{ myFilter.form | crispy  }}
        <button class="btn btn-primary">
            Search
        </button>
    </form>
{% endblock %}
