{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.first_name | as_crispy_field }}
    {{ form.last_name | as_crispy_field }}
    {{ form.username | as_crispy_field }}
    {{ form.email | as_crispy_field }}
    {{ form2.phone | as_crispy_field }}
    {{ form2.profilePic | as_crispy_field }}
    
    <input type="submit" value="Save profile" class="btn btn-primary">
</form>
{% endblock %}
    