{% extends "products/base.html" %}
{% block content %}

<div class="jumbotron my-5 slide">
    {% if loginning %}
    <h1>Success loginning</h1>
    <a href="{% url 'ProductsApp:home' %}" class="btn btn-info">home page</a>
    {% else %}
    <h1>Please Login</h1>
    <form class="slide" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="username" class=" requiredField">
                Username
            </label>
            <div class="">
                <input type="text" name="username" maxlength="150" class="textinput textInput form-control" required="" id="username">
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class=" requiredField">
                Password
            </label>
            <div class="">
                <input type="password" name="password" maxlength="150" class="textinput textInput form-control" required="" id="password">
            </div>
        </div>
        {% for message in messages %}
            <p id="messages" class="text-danger">{{ message }}</p>
        {% endfor %}
        <button class="btn btn-primary">
            Submit
        </button>
    </form>
    {% endif %}
</div>

{% endblock %}