
<nav class="slide navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'ProductsApp:home' %}">Korzinka.uz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav col-sm-10">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ProductsApp:home' %}">Home</a>
        </li>
        
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ProductsApp:products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ProductsApp:category' %}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ProductsApp:customer' %}">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ProductsApp:status' %}">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ProductsApp:order' %}">Order</a>
                </li>
                {% endif %}
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ProductsApp:register' %}">Registration</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ProductsApp:login' %}" class="nav-link">Log in</a>
            </li>
        {% endif %}

    </ul>
    <ul class="navbar-nav col-sm-2">
        <li class="nav-item f-right">            
            <a href="#" class="nav-link">{{ user }}</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'ProductsApp:logout' %}" class="nav-link">Log out</a>
        </li>
        {% endif %}
        
    </ul>
  </div>
</nav>
