{% extends "products/base.html" %}
{% block content %}
    <h1 class="slide ">This is order page</h1>
    {% if orders %}
        <table class="slide tabel table-striped table-bordered mb-4">
        <thead class="table-dark">
            <tr>
                <th class="py-1 px-3">orderCode</th>
                <th class="py-1 px-3">status</th>
                <th class="py-1 px-3">Edit</th>
                <th class="py-1 px-3">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for object in orders %}
                <tr>
                    <td class="py-1 px-3">
                        {{ object.orderCode }}
                    </td>
                    <td class="py-1 px-3">
                        {{ object.status }}
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:updateOrder' object.id %}" class="btn btn-primary a-btn-slide-text">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:deleteOrder' object.id %}" class="btn btn-danger a-btn-slide-text">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h1 class="slide alert alert-danger">Not found Orders</h1>
    {% endif %}
    <div class="slide jumbotron my-3 mx-2">
        <h1 class="slide text-center mb-4">Create Order</h1>
        <a  href="{% url 'ProductsApp:createOrder' %}" class="slide mb-3 w-100 btn btn-success a-btn-slide-text">
            <i class="bi bi-plus"></i>
            <span><strong>Add</strong></span>
        </a>
    </div>
{% endblock %}
