{% extends "products/base.html" %}
{% block content %}
    <style>
        .ex1 {
            overflow-y: scroll !important;
            width: 168px;
            height: 50px;
        }

    </style>
    <h1 class="slide">This is orderItem page</h1>

    {% if orderItems %}
        <table class="slide tabel table-striped table-bordered mb-4">
        <thead class="table-dark">
            <tr>
                <th class="py-1 px-3">OrderCode</th>
                <th class="py-1 px-3">Customer</th>
                <th class="py-1 px-3">Products</th>
                <th class="py-1 px-3">Edit</th>
                <th class="py-1 px-3">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for object in orderItems %}
                <tr>
                    <td class="py-1 px-3">
                        {{ object.orderCode }}
                    </td>
                    <td class="py-1 px-3">
                        {{ object.customer }}
                    </td>
                    <td class="py-1 px-3">
                        <div class="ex1">
                            <ol>
                                {% for product in object.products.all %}
                                <li>{{ product }}</li>
                                {% endfor %}
                            </ol>
                        </div>


                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:updateOrderItem' object.id %}" class="btn btn-primary a-btn-slide-text">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:deleteOrderItem' object.id %}" class="btn btn-danger a-btn-slide-text">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        {% else %}
        <h1 class="slide alert alert-danger">Not found OrderItems</h1>
    {% endif %}
    <div class="slide jumbotron my-3 mx-2 slide">
        <h1 class="text-center mb-4">Create OrderItem</h1>
        <a href="{% url 'ProductsApp:createOrderItem' %}" class="mb-3 w-100 btn btn-success a-btn-slide-text">
            <i class="bi bi-plus"></i>
            <span><strong>Add</strong></span>
        </a>
    </div>
{% endblock %}
