{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1 class="slide ">This is products page</h1>
    
    


    {% if products %}
        <table class="slide tabel table-striped table-bordered mb-4">
            <thead class="table-dark">
                <tr>
                    <th class="py-1 px-3">Name</th>
                    <th class="py-1 px-3">productCode</th>
                    <th class="py-1 px-3">Price</th>
                    <th class="py-1 px-3">category</th>
                    <th class="py-1 px-3">description</th>
                    <th class="py-1 px-3">date_created</th>
                    <th class="py-1 px-3">Edit</th>
                    <th class="py-1 px-3">Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for object in products %}
                    <tr>
                        <td class="py-1 px-3">
                            {{ object.name }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.productCode }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.price }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.category }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.description }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.date_created }}
                        </td>
                        <td class="py-1 px-3">
                            <a href="{% url 'ProductsApp:updateProduct' object.id %}" class="btn btn-primary a-btn-slide-text">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td class="py-1 px-3">
                            <a href="{% url 'ProductsApp:deleteProduct' object.id %}" class="btn btn-danger a-btn-slide-text">
                                <i class="bi bi-x"></i>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1 class="slide alert alert-danger">Not found Products</h1>
    {% endif %}
    <div class="slide jumbotron my-3 mx-2">
        <h1 class="text-center mb-4">Create Products</h1>
        <a href="{% url 'ProductsApp:createProduct' %}" class="mb-3 w-100 btn btn-success a-btn-slide-text">
            <i class="bi bi-plus"></i>
            <span><strong>Add</strong></span>
        </a>
    </div>
    <form method="GET" class="slide">
        <h1>Filter</h1>
        {{ myFilter.form | crispy  }}
        <button class="btn btn-primary">
            Search
        </button>
    </form>    
{% endblock %}
