{% extends "products/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron my-5 slide">
    {% if registered %}
    <h1>Thank you registering!</h1>
    {% else %}
    <h1>Register Here!</h1>
    <h3>Fill out the form:</h3>
    {% comment %}
    <form class="slide" method="POST">
        {% csrf_token %}
        {{ user_form | crispy}}

        {{ customerForm.phone | as_crispy_field }}
        {% for message in messages %}
        <p id="messages" class="text-danger" style="font-size: 10px;">
            <strong>
                {{ message }}
            </strong>
        </p>
        {% endfor %}
        <button class="btn btn-primary">
            Register
        </button>

    </form>
    {% endcomment %}
    <form class="slide" method="POST">
        {% csrf_token %}
        <div id="div_id_first_name" class="form-group"> <label for="id_first_name" class="">
                First name
            </label>
            <div class=""> <input type="text" name="first_name" maxlength="150" class="textinput textInput form-control"
                    id="id_first_name"> </div>
        </div>
        <div id="div_id_last_name" class="form-group"> <label for="id_last_name" class="">
                Last name
            </label>
            <div class=""> <input type="text" name="last_name" maxlength="150" class="textinput textInput form-control"
                    id="id_last_name"> </div>
        </div>
        <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
                Username<span class="asteriskField">*</span> </label>
            <div class=""> <input type="text" name="username" maxlength="150" class="textinput textInput form-control"
                    required id="id_username"> <small id="hint_id_username" class="form-text text-muted">Required. 150
                    characters or fewer. Letters, digits and @/./+/-/_ only.</small> </div>
        </div>
        <div id="div_id_email" class="form-group"> <label for="id_email" class="">
                Email address
            </label>
            <div class=""> <input type="email" name="email" maxlength="254" class="emailinput form-control"
                    id="id_email"> </div>
        </div>
        <div id="div_id_phone" class="form-group">

            <label for="id_phone" class=" requiredField">
                Phone<span class="asteriskField">*</span>
            </label>
            <div class="">

                <input type="text" name="phone" maxlength="100" class="textinput textInput form-control" required
                    id="id_phone">
            </div>
        </div>
        <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                Password<span class="asteriskField">*</span> </label>
            <div class=""> <input type="password" name="password" class="textinput textInput form-control" required
                    id="id_password"> </div>
        </div>

        <button class="btn btn-primary">
            Register
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}