{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="{{ user.customer.profilePic.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ user }}</h5>
      <p class="card-text">
        {{ user.email }}
      </p>
      <p class="card-text">
        {{ user.customer.phone }}
      </p>
      <a href="{% url 'userSetting' %}" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
        edit Profile
      </a>
    </div>
  </div>
  {% if orders %}
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">orderCode</th>
        <th scope="col">status</th>
        <th scope="col">products</th>
        <th scope="col">orderDate</th>
      </tr>
    </thead>
    <tbody>
        {% for order in orders %}
          <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.orderCode }}</td>
            <td>{{ order.status }}</td>
            <td>
              <div class="overflow-auto" style="height: 30px;">
                <ol>
                    {% for product in order.products.all %}
                    <li>{{ product }}</li>
                    {% endfor %}
                </ol>
            </div>
            </td>
            <td>{{ order.orderDate }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
      
  <div class="my-5 w-100 alert alert-danger">
    Hozircha ma'lumot yo'q
  </div>
      
          
  {% endif %}
{% endblock  %}
    