{% extends "products/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .ex1 {
        overflow-y: scroll !important;
        width: 168px;
        height: 50px;
    }

</style>
    <h3 class="slide ">Customer of {{ customer }} </h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center text-dark bg-light  mb-3" id="total-orders">
                    <div class="card-header">
                      <h5 class="card-title">Manage Customer</h5>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">
                        <div>
                            <a href="{% url 'ProductsApp:updateCategory' customer.id %}" class="w-100 btn btn-outline-primary">
                                <i class="bi bi-pencil-square"></i>
                                <span><strong>Edit Customer</strong></span>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'ProductsApp:createOrderItemToCustomer' customer.id %}" class="btn w-100 btn-outline-success a-btn-slide-text">
                                <i class="bi bi-plus"></i>
                                <span><strong>Create OrderItem</strong></span>
                            </a>
                        </div>
                      </h3>
                    </div>
              </div>
            </div>
          
            <div class="col-sm-4">
                <div class="card text-center text-white bg-info mb-3" id="orders-delivered">
                    <div class="card-header">
                      <h5 class="card-title">Customer Name</h5>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"> {{ customer }} </h3>
                    </div>
                </div>
            </div>
          
            <div class="col-sm-4">
                <div class="card text-center text-white bg-success  mb-3" id="orders-pending">
                    <div class="card-header">
                      <h5 class="card-title">Number of OrderItem </h5>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">
                        {{ orderItemLength }}
                      </h3>
                    </div>
                </div>
          </div>
        </div>
    {% if orderItem %}
        <table class="slide tabel table-striped table-bordered mb-4">
        <thead class="table-dark">
            <tr>
                <th class="py-1 px-3">orderCode</th>
                <th class="py-1 px-3">products</th>

                <th class="py-1 px-3">Edit</th>
                <th class="py-1 px-3">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for object in orderItem %}
                <tr>
                    <td class="py-1 px-3">
                        {{ object.orderCode }}
                    </td>
                    <td class="py-1 px-3">
                        <div class="ex1">
                            <ol>
                                {% for product in object.products.all %}
                                <li>{{ product }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </td>
                    
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:updateOrderItem' object.id %}" class="btn btn-primary a-btn-slide-text">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="py-1 px-3">
                        <a href="{% url 'ProductsApp:deleteOrderItem' object.id %}" class="btn btn-danger a-btn-slide-text">
                            <i class="bi bi-x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}

    {% endif %}

      
      <form method="GET" class="slide">
        <h1>Filter</h1>
        {{ myFilter.form | crispy  }}
        <button class="btn btn-primary">
            Search
        </button>
    </form> 
{% endblock %}
